# Node modules
node_modules/

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Export files or archives
*.zip
*.tar.gz

# IDE/editor configs
.vscode/
.idea/

# OS-specific
__MACOSX/

